body{
    background: #0B4958;
	font-family: Verdana;
}

.fila_avatar{
    background: #C4DB94;
	margin-top: 20px;
	height: 300px;
}

.avatar{
	margin-left: 20px;
	margin-top: 25px;
	height: 250px;
	text-align: left;
	vertical-align: middle;
}
